@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

::selection {
	background-color: orange;
	color: #000;
	text-shadow: 0 0 #000;
}

* {
	margin: 0;
	padding: 0;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

html, body {
	width: 100%;
	height: 100%;
}

body :is(.intro, .contact) {
	width: 100%;
	min-height: 100%;
	border: 2px solid #000;
}

body :is(.about, .work) {
	min-height: 50%;
	max-height: 50%;
}

body :is(.work, .about, .contact) {
	z-index: 5;
	position: relative;
	background: currentColor;
	filter: invert(1);
}

:is(.about, .contact) :is(a, p, h2, span, form) {
	filter: invert(1);
}

.intro {
	user-select: none;
	position: relative;
	background-image: url('https://i.pinimg.com/originals/33/09/ca/3309ca1330ca91b55b4feeda3f383031.jpg');
	background-size: 105% 105%;
	background-attachment: fixed;
	background-position: center;
}

.intro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}

.intro nav {
	background: #eee;
	z-index: 100;
	width: 100%;
	position: fixed;
	box-shadow: 0 -40px 32px 64px rgba(31,31,31,0.2);
	top: 0;
	left: 0;
	right: 0;
	max-height: 80px;
}

.intro ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.intro li {
	margin: 10px 20px;
	padding: 10px;
}

.intro a {
	padding: 10px;
	text-decoration: none;
	color: #1f1f1f;
	text-transform: uppercase;
}

.intro-text {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: clamp(2em, 1% + 10vw, 4em);
	z-index: 1;
	color: #eee;
}

img {
	width: 100%;
	height: 100%;
	filter: invert(1);
	user-select: none;
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-area: "image text";
	border-bottom: 2px solid rgba(224,224,224,1);
}

.about section:nth-child(1) {
	grid-area: "image";
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about section:nth-child(1) img {
	width: 100% !important;
}

.about section:nth-child(2) {
	padding: 0 1.75em;
	grid-area: "text";
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about img {
	height: 105%;
	width: auto;
}

.about > section > .card {
	width: 100%;
	border: 2px solid #000;
}

.heading {
	margin-bottom: 5px;
}

.heading span {
	font-size: 1.25rem;
	font-weight: 500 !important;
}

.work {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 15% 1fr;
	padding: 2em 0em;
}

.work h2 {
	width: max-content;
	margin: 0 auto;
	text-align: center;
	background-image: linear-gradient(to right, black , black);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 3px;
	font-weight: 500;
}

.work :is(.container) {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0em 2em;
	gap: 1em;
}

.work :is(a, p, h2, span) {
	filter: invert(1);
}

.container .card {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	border: 0.5px solid #fff;
	min-height: 80%;
	max-height: 80%;
}

.container .heading {
	margin-top: 20px;
}

.container .card:nth-child(odd) {
	box-shadow: -10px 0 32px 16px rgba(255,255,255,0.25);
}

.container .card:nth-child(even) {
	box-shadow: 10px 0 32px 16px rgba(255,255,255,0.25);
}

.container :is(.card) :is(.heading) {
	width: max-content;
	margin: 0 auto;
}

.footer {
	display: none;
}